name: Concurrency 1

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment"
        type: environment
        required: true
# concurrency: concurrency-1
concurrency:
  group: ${{ github.event.inputs.environment }}
  cancel-in-progress: true

jobs:
  sleep:
    runs-on: ubuntu-latest
    steps:
    - run: sleep 30
