name: Environment variables
on: [ push ]

jobs:
  env-vars-and-context:
    runs-on: ubuntu-latest
    # if: $GITHUB_REF == 'refs/heads/main' ==> only accessible inside the runner
    if: github.ref == 'refs/heads/main'
    steps:
    - name: Log ENV VAR
      run: echo $GITHUB_REF
    - name: Log Context
      run: echo '${{ github.ref }}'
